{% extends 'base.twig' %}

{% block content %}
<section>
    <h2>The world of Jurassic Park</h2>
    {% for dinausour in dinausours %}
        <a href="index.php">
            <figure>
                <img src="{{ dinausour.avatar }}" alt="{{ dinausour.name }}" />
                <figcaption>Discover the {{ dinausour.name }}</figcaption>
            </figure>
        </a>
</section>

<div class="grid">
    <article>
        <h2>Discover the {{ dinausour.avatar }}</h2>

        <div class="description">
            Lorem ispum
        </div>

        <div class="card">
            <img src="{{ dinausour.avatar }}" alt="{{ dinausour.name }}" />
            <dl>
                <dt>Name</dt>
                <dd>{{ dinausour.name }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ dinausour.name_meaning }}</dd>
                <dt>Diet</dt>
                <dd>{{ dinausour.diet }}</dd>
                <dt>Height</dt>
                <dd>{{ dinausour.height }} m.</dd>
                <dt>Length</dt>
                <dd>{{ dinausour.length }} m.</dd>
                <dt>Weight</dt>
                <dd>{{ dinausour.weight }} kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for dinausour in dinausours %}
            <a href="{{ dinausour.name }}">
                <figure>
                    <img src="{{ dinausour.avatar }}" alt="{{ dinausour.name }}" />
                    <figcaption>Discover the {{ dinausour.name }}</figcaption>
                </figure>
            </a>
    </aside>
</div>
{% endblock %}

{% block title %}

<section>
    {% for dinausour in dinausours %}
        <article>
            <h2>{{ dinausour.name }}</h2>
 </article>
    {% endfor %}
    </section>
{% endblock %}

